footer {
    background: $footer-bg-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    
    .footer-container {
        padding: 22px;

        
        .footer-content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-top: 16px;

            i {
                margin-right: 10px;
            }
    
            a {
                color: white;
                padding-top: 7px;
    
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        h3 {
            font-family: 'Shrikhand';
            font-weight: 500;
            margin: 0;
        }
        
    }

}
