footer {
    background: $footer-bg-color;
    color: white;

    
    .footer-container {
        padding: 25px;
        
        @media screen and (min-width: $version-tablet) {
            display: flex;
            flex-direction: row-reverse;
            margin-right: 25px;
            padding-top: 40px;
            padding-bottom: 15px;
        }
        
        .footer-content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-top: 16px;

            @media screen and (min-width: $version-mobile) {
                display: flex;
                flex-direction: row;
                gap: 30px;
                margin-right: 70px;
            }

            i {
                margin-right: 10px;
            }
    
            a {
                color: white;
                padding-top: 7px;
    
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        h3 {
            font-family: 'Shrikhand';
            font-weight: 500;

            @media screen and (max-width: $version-mobile) {
                margin: 0;
            }
        }

        .first-part-content {
            display: flex;
            flex-direction: column;

            @media screen and (min-width: $version-mobile) {
                display: flex;
                flex-direction: row;
                margin-right: 20px;

                a {
                    margin-right: 10px;
                }
            }
        }
        
        .second-part-content {
            display: flex;
            flex-direction: column;

            @media screen and (min-width: $version-mobile) {
                display: flex;
                flex-direction: row;

                a {
                    margin-right: 15px;
                }
            }
        }

    }

}
