header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 15px;
    position: relative;

    img {
        width: 160px;
    }

    div {
        position: absolute;
        left: 25px;
        font-size: 1.2rem;
    }
}