header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 15px;
    position: relative;

    @media screen and (min-width: $version-mobile) {
        margin-bottom: 25px;
    }

    img {
        width: 160px;
        
        @media screen and (min-width: $version-tablet) {
            width: 220px;
        }
    }

    div {
        position: absolute;
        left: 25px;
        font-size: 1.2rem;
    }
}