* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  margin-bottom: 15px;
  position: relative;
}
@media screen and (min-width: 768px) {
  header {
    margin-bottom: 25px;
  }
}
header img {
  width: 160px;
}
@media screen and (min-width: 1024px) {
  header img {
    width: 220px;
  }
}
header div {
  position: absolute;
  left: 25px;
  font-size: 1.2rem;
}

footer {
  background: #353535;
  color: white;
}
footer .footer-container {
  padding: 25px;
}
@media screen and (min-width: 1024px) {
  footer .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-right: 25px;
    padding-top: 40px;
    padding-bottom: 15px;
  }
}
footer .footer-container .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 16px;
}
@media screen and (min-width: 768px) {
  footer .footer-container .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
    margin-right: 70px;
  }
}
footer .footer-container .footer-content i {
  margin-right: 10px;
}
footer .footer-container .footer-content a {
  color: white;
  padding-top: 7px;
}
footer .footer-container .footer-content a:hover {
  text-decoration: underline;
}
footer .footer-container h3 {
  font-family: "Shrikhand";
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  footer .footer-container h3 {
    margin: 0;
  }
}
footer .footer-container .first-part-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  footer .footer-container .first-part-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 20px;
  }
  footer .footer-container .first-part-content a {
    margin-right: 10px;
  }
}
footer .footer-container .second-part-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  footer .footer-container .second-part-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .footer-container .second-part-content a {
    margin-right: 15px;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

.fa-arrow-left {
  color: #454545;
}
.fa-arrow-left:hover {
  opacity: 0.5;
}

.img-background img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -o-object-position: 50% 55%;
     object-position: 50% 55%;
  width: 100%;
  height: 260px;
}
@media screen and (min-width: 768px) {
  .img-background img {
    height: 480px;
  }
}

.position {
  position: absolute;
  width: 100%;
  top: 270px;
}
@media screen and (min-width: 768px) {
  .position {
    top: 500px;
  }
}
.position .menu {
  background: #F6F6F6;
  width: 100%;
  border-radius: 40px 40px 0 0;
  margin-top: 10px;
  padding-bottom: 1px;
}
@media screen and (min-width: 768px) {
  .position .menu {
    max-width: 800px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .position .menu {
    max-width: 900px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1440px) {
  .position .menu {
    max-width: 1100px;
    margin: 0 auto;
  }
}
.position .menu__header .text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
}
@media screen and (min-width: 768px) {
  .position .menu__header .text-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
    padding-top: 25px;
    padding-bottom: 20px;
  }
}
.position .menu__header .text-content h2 {
  font-family: "Shrikhand";
  font-weight: 500;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}
.position .menu__header .text-content .logo-heart {
  margin-top: 15px;
  margin-right: 35px;
  font-size: 1.5rem;
}
.position .menu__header .text-content .logo-heart svg {
  width: 30px;
  height: 30px;
  fill: #F6F6F6;
  stroke: black;
}
@media screen and (min-width: 768px) {
  .position .menu__header .text-content .logo-heart svg {
    margin-left: 30px;
  }
}
.position .menu__header .text-content .logo-heart svg:hover {
  -webkit-animation: heart-animation 1.5s ease forwards;
          animation: heart-animation 1.5s ease forwards;
}
@-webkit-keyframes heart-animation {
  0% {
    opacity: 1;
  }
  10%, 30% {
    opacity: 0.7;
  }
  40%, 59% {
    opacity: 0.8;
  }
  60%, 90% {
    stroke-width: 0;
    opacity: 0.9;
    fill: url(#heart-gradient);
  }
  100% {
    stroke-width: 0;
    opacity: 1;
    fill: url(#heart-gradient);
  }
}
@keyframes heart-animation {
  0% {
    opacity: 1;
  }
  10%, 30% {
    opacity: 0.7;
  }
  40%, 59% {
    opacity: 0.8;
  }
  60%, 90% {
    stroke-width: 0;
    opacity: 0.9;
    fill: url(#heart-gradient);
  }
  100% {
    stroke-width: 0;
    opacity: 1;
    fill: url(#heart-gradient);
  }
}
@media screen and (min-width: 768px) {
  .position .menu .menu-content {
    max-width: 700px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.position .menu .menu-content .separation:not(:last-child) {
  margin-bottom: 45px;
}
.position .menu .menu-content .separation .line-bottom {
  position: relative;
  margin-left: 10px;
  margin-bottom: 20px;
}
.position .menu .menu-content .separation .line-bottom::after {
  content: "";
  border-bottom: 3px solid;
  position: absolute;
  color: #99e2D0;
  width: 40px;
  height: 3px;
  left: 1px;
  top: 20px;
}
.position .menu .menu-content .separation .card {
  --price-width: 28px;
  --check-width: 59px;
  display: grid;
  grid-template-columns: 1fr 0;
  border-radius: 15px;
  margin: 10px;
  background: white;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  -webkit-animation-name: appearance;
          animation-name: appearance;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(0);
          transform: scale(0);
}
@-webkit-keyframes appearance {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes appearance {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.position .menu .menu-content .separation .card:nth-of-type(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.position .menu .menu-content .separation .card:nth-of-type(2) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.position .menu .menu-content .separation .card:nth-of-type(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.position .menu .menu-content .separation .card:nth-of-type(4) {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}
.position .menu .menu-content .separation .card .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background: #99e2D0;
  width: 100%;
  height: 77px;
  border-radius: 0 15px 15px 0;
}
.position .menu .menu-content .separation .card .check i {
  color: #ffffff;
}
.position .menu .menu-content .separation .card:hover {
  grid-template-columns: 1fr var(--check-width);
}
.position .menu .menu-content .separation .card .container-card {
  display: grid;
  grid-template-columns: 1fr var(--price-width);
  gap: 10px;
  width: 100%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.position .menu .menu-content .separation .card .container-card .card-content, .position .menu .menu-content .separation .card .container-card h3, .position .menu .menu-content .separation .card .container-card p {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}
.position .menu .menu-content .separation .card .container-card .card-content p {
  font-size: 0.9rem;
  margin-top: 0;
}
.position .menu .menu-content .separation .card .container-card .card-content h3 {
  font-size: 1.08rem;
  margin-bottom: 0.3em;
}
.position .menu .menu-content .separation .card .container-card .price {
  margin-top: 43px;
  width: var(--price-width);
  font-weight: 600;
  color: rgba(53, 53, 53, 0.8470588235);
}
.position .menu .menu-content .btn-order {
  display: block;
  text-align: center;
  border: unset;
  width: 186px;
  border-radius: 25px;
  padding: 15px 25px;
  font-size: 1rem;
  font-weight: 500;
  margin: 40px auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(rgb(147, 86, 220)));
  background: linear-gradient(#FF79DA, rgb(147, 86, 220));
  color: white;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.45);
  -ms-flex-item-align: center;
      align-self: center;
}
.position .menu .menu-content .btn-order:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.45);
}/*# sourceMappingURL=index.css.map */