// ******** Polices *********
* {
    font-family: 'Shrikhand', cursive;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}


// ****** variables ******
:root {
    $btn-color1: #9356DC;
    $btn-color2: #FF79DA;
    $tertiary-color: #99e2D0;
}

// ****** mixins ***** 