* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  margin-bottom: 15px;
  position: relative;
}
header img {
  width: 160px;
}
header div {
  position: absolute;
  left: 25px;
  font-size: 1.2rem;
}

footer {
  background: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
}
footer .footer-content {
  padding-left: 25px;
  padding-bottom: 10px;
}
footer .footer-content h3 {
  font-family: "Shrikhand";
  font-weight: 500;
}
footer .footer-content i {
  margin-right: 10px;
}
footer .footer-content a {
  color: white;
}
footer .footer-content li {
  margin-bottom: 10px;
}

body {
  font-family: "Roboto", sans-serif;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-animation: loading 1.5s;
          animation: loading 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes loading {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@keyframes loading {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
.loader .ring {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-animation: ring 1.2s linear infinite;
          animation: ring 1.2s linear infinite;
}
@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-box-shadow: 1px 5px 2px #9356DC;
            box-shadow: 1px 5px 2px #9356DC;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-box-shadow: 1px 5px 2px #FF79DA;
            box-shadow: 1px 5px 2px #FF79DA;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-box-shadow: 1px 5px 2px #ce1e1e;
            box-shadow: 1px 5px 2px #ce1e1e;
  }
}
@keyframes ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-box-shadow: 1px 5px 2px #9356DC;
            box-shadow: 1px 5px 2px #9356DC;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-box-shadow: 1px 5px 2px #FF79DA;
            box-shadow: 1px 5px 2px #FF79DA;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-box-shadow: 1px 5px 2px #ce1e1e;
            box-shadow: 1px 5px 2px #ce1e1e;
  }
}
.loader .ring::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px rgba(36, 35, 35, 0.3);
          box-shadow: 0 0 5px rgba(36, 35, 35, 0.3);
}
.loader span {
  color: grey;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;
  -webkit-animation: text 3s ease-in-out linear;
          animation: text 3s ease-in-out linear;
}
@-webkit-keyframes text {
  50% {
    color: red;
  }
}
@keyframes text {
  50% {
    color: red;
  }
}

.location {
  background: rgba(225, 225, 225, 0.7529411765);
  position: relative;
}
.location .search-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 0;
}
.location .search-part::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: -2px;
  left: 0px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.location i {
  color: rgba(53, 53, 53, 0.9725490196);
}
.location input {
  width: 135px;
  text-align: center;
  border: none;
  outline: none;
  background: transparent;
  margin-top: 2px;
}
.location input::-webkit-input-placeholder {
  color: rgba(53, 53, 53, 0.9725490196);
  font-weight: 600;
  font-size: 1rem;
}
.location input::-moz-placeholder {
  color: rgba(53, 53, 53, 0.9725490196);
  font-weight: 600;
  font-size: 1rem;
}
.location input:-ms-input-placeholder {
  color: rgba(53, 53, 53, 0.9725490196);
  font-weight: 600;
  font-size: 1rem;
}
.location input::-ms-input-placeholder {
  color: rgba(53, 53, 53, 0.9725490196);
  font-weight: 600;
  font-size: 1rem;
}
.location input::placeholder {
  color: rgba(53, 53, 53, 0.9725490196);
  font-weight: 600;
  font-size: 1rem;
}

.search-restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F6F6F6;
}
.search-restaurants h1 {
  margin-top: 40px;
  margin-bottom: 0;
  max-width: 250px;
}
.search-restaurants p {
  color: rgba(53, 53, 53, 0.8470588235);
  font-size: 1.1rem;
  font-weight: 300;
}
.search-restaurants a {
  border: unset;
  border-radius: 25px;
  padding: 15px 25px;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  margin-top: 10px;
  margin-bottom: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.45);
}
.search-restaurants a:hover {
  -webkit-filter: brightness(1.15);
          filter: brightness(1.15);
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.45);
}

.adjust-main {
  width: 90%;
  margin: 0 auto;
}

.functioning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 0 50px 0;
}
.functioning h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.functioning .functioning-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-left: 20px;
  width: 93%;
  position: relative;
}
.functioning .functioning-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
  margin: 10px 0 15px auto;
  border-radius: 20px;
  background: #F6F6F6;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.functioning .functioning-content:nth-child(1):before {
  content: "1";
  position: absolute;
  font-size: 0.8rem;
  left: -12px;
  top: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 8px;
  border-radius: 25px;
  background: #9356DC;
  color: white;
}
.functioning .functioning-content:nth-child(2):before {
  content: "2";
  position: absolute;
  font-size: 0.8rem;
  left: -12px;
  top: 130px;
  padding: 4px 8px;
  border-radius: 25px;
  background: #9356DC;
  color: white;
}
.functioning .functioning-content:nth-child(3):before {
  content: "3";
  position: absolute;
  font-size: 0.8rem;
  left: -12px;
  top: 225px;
  padding: 4px 8px;
  border-radius: 25px;
  background: #9356DC;
  color: white;
}
.functioning .functioning-content p {
  margin: 0;
  padding-left: 35px;
  font-weight: 600;
}
.functioning .functioning-content i {
  padding-right: 20px;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F6F6F6;
  padding-bottom: 40px;
}
.restaurants h2 {
  padding-top: 30px;
}
.restaurants__card {
  border: 1px solid none;
  border-radius: 15px;
  background: white;
  margin-bottom: 20px;
  position: relative;
}
.restaurants__card .new-after::after {
  content: "Nouveau";
  position: absolute;
  font-size: 0.9rem;
  font-weight: 600;
  right: 12px;
  top: 15px;
  padding: 6px 12px;
  border-radius: 2px;
  color: #008766;
  background: #99e2D0;
}
.restaurants img {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 62%;
     object-position: 50% 62%;
  border-radius: 15px 15px 0 0;
}
.restaurants__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 25px 15px 10px;
}
.restaurants__content h3, .restaurants__content p {
  margin: 0;
  line-height: 22px;
}
.restaurants .logo-heart svg {
  width: 25px;
  height: 30px;
  fill: white;
  stroke: black;
}
.restaurants .logo-heart svg:hover {
  fill: url(#heart-gradient);
  stroke-width: 0;
}/*# sourceMappingURL=index.css.map */