// index.scss rassemble tous les fichiers sass 

// settings.scss doit être lu en premier pour que sass connaisse les variables
@import "./layout/settings";
@import "./layout/header";
@import "./layout/footer";

// ***************** Feuille de style **************

body {
    font-family: 'Roboto', sans-serif;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(4px);
    animation: loading 1.5s;
    animation-fill-mode: forwards;

    @keyframes loading {
        
        from {
            visibility: visible;
        }
        
        to {
            visibility: hidden;
        }
    }
    
    .ring {
        position: absolute;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        animation: ring 1.2s linear infinite;

        @keyframes ring {
            0%{
                transform: rotate(0deg);
                box-shadow: 1px 5px 2px #9356DC;
            }

            50%{
                transform: rotate(180deg);
                box-shadow: 1px 5px 2px #FF79DA;
            }

            100%{
                transform: rotate(360deg);
                box-shadow: 1px 5px 2px #ce1e1e;
            }
        }

        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            box-shadow: 0 0 5px rgba(36, 35, 35, 0.3);
        }
    }

    span {
        color: $btn-color2;
        opacity: 0.9;
        text-shadow: 0 5px 4px $btn-color1;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

// ********** Partie localisation **********

.location {
    background: $location-bg-color;
    position: relative;

    .search-part {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 17px 0;
    }

    .search-part::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        top: -2px;
        left: 0px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    }
    
    i {
        color: $grey;
        padding-top: 1px;
        padding-right: 5px;
    }

    input {
        width: 135px;
        text-align: center;
        border: none;
        outline: none;
        background: transparent;
        margin-top: 2px;

        &::placeholder{
            color: $grey;
            font-weight: 600;
            font-size: 1rem;
        }
    }
}


// ******** Partie Exploration ********* 

.search-restaurants {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: $main-bg-color;
    
    h1 {
        font-size: 1.5em;
        margin-top: 40px;
        margin-bottom: 0;

        @media screen and (min-width: $version-mobile) {
            font-size: 2em;
        }

        @media screen and (min-width: $version-tablet) {
            font-size: 2.5em;
        }
    }
    
    p {
        color: $paragraph-color;
        font-weight: 300;
        font-size: 1.125em;
        margin-right: 20px;
        margin-left: 20px;
    }
    
    a {
        border: unset;
        border-radius: 25px;
        padding: 15px 25px;
        font-size: 1rem;
        font-weight: 500;
        color: white;
        margin-top: 10px;
        margin-bottom: 60px;
        background: linear-gradient($btn-color1, $btn-color2);
        cursor: pointer;
        transition: .4s ease; 
        @include btn-shadow;

        @media screen and (min-width: $version-tablet) {
            margin-bottom: 30px;
        }
        
        &:hover {
            opacity: 0.8;
            @include btn-shadow-hover
        }
    }
}


// ********** Partie Fonctionnement *********

    .functioning {
        display: flex;
        flex-direction: column;
        margin: 30px 0 70px 0;

        @media screen and (min-width: $version-mobile) {
            padding: 30px 30px 50px 30px;
            max-width: 1070px;
            margin: auto;
        }


    h2 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-left: 15px;
        margin-bottom: 25px;

        @media screen and (min-width: $version-mobile) {
            margin-left: 0;
            margin-bottom: 30px;
        }
    }

    .functioning-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;
        position: relative;

            @media screen and (min-width: $version-tablet) {
            display: flex;
            flex-direction: row;
        }
    }

    .functioning-content {
        display: flex;
        align-items: center;
        height: 70px;
        width: 250px;
        margin-left: 15px;
        padding-left: 30px;
        padding-right: 15px;
        border-radius: 20px;
        background: $main-bg-color;
        cursor: pointer;
        @include bloc-shadow;

        @media screen and (min-width: $version-tablet) {
            width: 100%;
        }

        .number-function {
            position: relative;

            p {
                position: absolute;
                left: -43px;
                top: -10px;
                padding: 5px 9px;
                border-radius: 30px;
                background: $btn-color2;
                color: white;
                font-size: 0.8em;
            }
        }

        &:hover {
            transition: .5s;
            @include purple-shadow
        }


        p {
            margin: 0;
            font-weight: 600;
        }

        i   {
            color: $icon-color;
            padding-right: 20px;

            @media screen and (min-width: $version-tablet) {
                font-size: 1.2rem;
            }
        }

        .fa-store {
            color: $icon-color2;
        }
    }
}
    

// ******** Partie Réstaurant *********

.restaurants {
    display: flex;
    flex-direction: column;
    background: $main-bg-color;
    padding: 0 17px 40px 17px;

    @media screen and (min-width: $version-mobile) {
        padding: 0 30px 0 30px;
    }

    &__bloc {
        margin: 0 auto;
        width: 100%;


        @media screen and (min-width: $version-mobile) {
            max-width: 1060px;
        }
    }

    h2 {
        padding-top: 30px;

        @media screen and (min-width: $version-mobile) {
            padding-top: 10px;
            margin-bottom: 25px;
        }
    }

    &__card {
        border: 1px solid none;
        border-radius: 15px;
        background: white;
        margin-bottom: 20px;
        position: relative;

        .new-after::after {
            content: "Nouveau";
            position: absolute;
            font-size: 0.9rem;
            font-weight: 600;
            right: 12px;
            top: 15px;
            padding: 6px 12px;
            border-radius: 2px;
            color: $tertiary-color2;
            background: $tertiary-color;
        }

        &:hover {
            transition: .5s;
            transform: scale(1.03);
        }
    }
    
    img {
        width: 100%;
        height: 170px;
        object-fit: cover;
        object-position: 50% 62%;
        border-radius: 15px 15px 0 0;

        @media screen and (min-width: $version-tablet) {
            object-position: 50% 56%;
        }
    }

    &__content {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 25px 15px 15px;

        h3, p{
            margin: 0;
            line-height: 22px;
        }
    }

    .logo-heart {

        svg {
            width: 25px;
            height: 30px;
            fill: white;
            stroke: black;            
            
            &:hover {
                animation: heart-animation 1s ease-in-out forwards;
                
                
                @keyframes heart-animation {
                    
                    0% {
                        opacity: 1;
                    }

                    10%,30% {
                        opacity: 0.7;
                    }

                    40%,59% {
                        opacity: 0.8;
                    }

                    60%,90% {
                        stroke-width: 0;
                        opacity: 0.9;
                        fill: url(#heart-gradient);
                    }
                    
                    100% {
                        stroke-width: 0;
                        opacity: 1;
                        fill: url(#heart-gradient);
                    }
                }
            }
        }
    }

    .grid {
            @media screen and (min-width: $version-mobile) {
            display: grid;
            grid-template-columns: 1fr 1fr;            
            gap: 30px 100px;
            margin-bottom: 15px;
        }
    }
}

